version: '3.9'

# definicion de servicios/contenedores
services:
  db:
    image: mariadb #imagen mariadb:latest
    container_name: mimariadb0 #nombre de contenedor con imagen de mariadb
    ports: #exposicion de puertos
      - 13306:3306 #puerto 13306 de maquina local hacia puerto 3306 dentro de contenedor mariadb
    environment: #exposicion de variables de ambiente del contenedor
      - MARIADB_USER=miusuario0 #variable de nuevo usuario en mysql
      - MARIADB_PASSWORD=mipassword0 #variable password de nuevo usuario en mysql
      - MARIADB_ROOT_PASSWORD=mipassword0 #variable de password de usuario root en mysql
    volumes:
      - ./database:/docker-entrypoint-initdb.d

  adminer:
    image: adminer
    container_name: miadminer0
    ports:
      - 8081:8080
